body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

/* menu header y menu*/
img {  /*logo*/
	width: 80px;
	height: 57px;
}

.container {
	width: 100%;
	margin: auto;
	/*flexbox*/
	display: flex; /* para mover los elementos*/
	flex-direction: row; /* Permite la posicion de las cajas*/
	flex-wrap: wrap; /* Para q nos e desborde las cajas*/

}

header { /* elemento padre del logo tipo y menu nav*/
	/*background: url('../img/img-lyft/encabezado1.jpg');*/
	width: 100%;
	padding: 20px;
	/*flex*/
	display: flex; /*Mover elemento padre*/
	justify-content: space-between; /* Esto hace que el logo se vaya a la izquierda y el nav a la derecha*/
	align-items: center; /*para centrar la linea de elementos nav*/
	flex-direction: row; /*nos pone los elementos en linea*/
	flex-wrap: wrap; /* evita que si elemento no cabe se deforme*/
}

header .logo img{   /*Logo  lyft*/
	line-height: 50px;
	position:relative;
	top: 10px;
	left: 80px;
	width: 70px;
	height: 48px;
}

header nav {  /*menu*/

	/*Flex*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-right: 50px;  /*me corre un poco la linea nav*/
}

header nav a{

	color: white;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	flex-grow: 1; /* me pone los elementos al 100% del contenedor*/

}

header nav a:hover{
	background: #FF00BF;
}

#Sign a:hover{
	border-radius: 10px;

}

/* SECCION FORMULARIO */

section {
	background: url('../img/img-lyft/encabezado1.jpg');
	background-repeat: no-repeat;
	background-size: 1366px;
	width: 1366px;
	height: 768px;
}

section aside {   /*caja blanca*/
	background: white;
	width: 340px;
	height: 455px;
	position: relative;
	left: 948px;
	bottom: 0px;
	
	top: 15px;
	padding: 40px;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	
}

#titulo {   /* Sign UP to DRIVE...*/
	color:  #352384;
	font-size: 28px;
	position:relative;
	bottom: 20px;

}



label {
	color: #352384;
	position:relative;
	bottom: 40px;
	font-weight: bold;
}

button {
	background: #FF00BF;
	text-decoration: none;
	border-radius: 10px;
	border: none;
	color: white;
	position: relative;
	top: 20px;
	left: -3px;
	height: 43px;
	width: 123px;
}

aside a {
	font-size: 13px;
	color: #352384;
	position:relative;
	top: 21px;
	left:13px;
}

h2{
	font-size: 10px;
	position:relative;
	top:45px;
	color: #352384;
}

h3{
	font-size: 10px;
	position:relative;
	top:23px;
	color: #352384;
}

input {
	border:none;
	background-color: white;

}

/* SECCION FOTO TELEFONO*/

#container0 { /* background gradiente*/
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	background: -webkit-linear-gradient(#76278F, #2B1E66);
	background: -o-linear-gradient(#76278F, #2B1E66);
	background: linear-gradient(#76278F, #2B1E66);
	border: none;
	position:relative;
	bottom: 25px;
	color: white;
}

#varioscont {
	display: flex;
	flex-direction: column; /* me deja el texto en columnas de arriba hacia abajo*/
	align-items: stretch; /* me lo dejo uno al lado del otro*/
	position: relative;
	left: 154px;
	top: -45px;
}


img {
	display:flex;
	justify-content: flex-end;
	width: 700px;
	height: 500px;
	position:relative;
	left: 150px;
	bottom: 27px;
	
}

h4 {
	font-size: 25px;

	
}

h5{
	font-size: 25px;
	position:relative;
	bottom:75px;
}

p {
	line-height: 1%;  /*quita interlineado*/
		position:relative;
	bottom: 20px;
}

 span {
	position:relative;
	bottom:90px;
}

/*FOOTER*/

footer {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	background: #333447;
	width: 1366px;
	height: 630px;
	margin: auto;
	position:relative;
	bottom: 25px;
}
#columnas {
	display:flex;
	flex-direction: column;
	align-items: stretch;
}


footer img{
	display:flex;
	justify-content: flex-end;
	position: relative;
	left: 800px;
	width: 200px;
	height: 100px;
	bottom: 100px;
}

 .col-1{
	display: flex;
	flex direction: column;
	align-items: flex-start;
}

.col-2{
	display: flex;
	flex direction: column;
	align-items: flex-start;
}

.col-3{
	display: flex;
	flex direction: column;
	align-items: flex-start;
}


.iconos {
	
	position: relative;
	top: 100px;
	width: 5px;
	height: 5px;
}

.iconos1{
	
	position: relative;
	bottom: 20px;
	top: 100px;
	right: 300px;
	width: 5px;
	height: 5px;
}

.iconos2{
	
	position: relative;
	bottom: 10px;
	top: 100px;
	right: 600px;
	width: 60px;
	}

.texto-final {
	font-size: 30px;
	color: white;
	text-align: center;
	position: relative;
	left: 350px;
}



























/* Caja Blanca Formulario

div {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#titulo {
	background: white;
	background-attachment: fixed;
	width: 45%;
	height: 500px;
	align-self: flex-end;
	order: 1;
	
}

 h1{
	font-size: 20px;
	position:relative;
	width:400px;
	top: 50px;
	bottom: 100px;
	left: 35px;
	color: #352384;
}                     

*/